@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body {
    background-color:#08080B;
    font-family: 'Poppins', sans-serif;
}

.form_wrap {
    display: flex;
    width: 1215px;
    margin: 0 auto;
}

.form_wrap_bg {
    height: 680px;
    width: 333px;
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    background-color: #242424;
    height: 680px;
    width: 882px;
    border-radius: 0 22px 22px 0;
    border-left: 1px solid #3d3d3d;
    /* display: flex;
    align-items: center; */
}

form {
    margin: 67px auto;
    width: 500px;
    height: 400px;
}

form h1 {
    color: white;
    font-size: 1.27rem;
    font-weight: 600;
    line-height: 25px;
}
form h3 {
    color: #7F7F7F;
    font-size: .7rem;
    font-weight: 300;
}


